/* styles.css */
/* h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* .radio-section {
    border: 2px solid #cccccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.radio-section h2 {
    margin-top: 0;
} */